:root {
    --blue: #023366 !important;
    --white: #fbfaf2 !important;
    --grad : linear-gradient(var(--blue),var(--white));
 }




*{
    padding: 0;
    margin: 0;
    color: black;
    text-decoration: none;
}

.error{
    color: red;
}

.success{
    color: rgb(0, 255, 72);
}
.inputError{
    box-shadow: 0 0 5px red;
}

.bg{
    background-color:var(--blue);
    
}
section {
    height: 110vh;
}

section.home {
    background-image: linear-gradient(var(--blue),var(--white));
    /* overflow: hidden;
    position: relative; */
    
    height: calc(100vh - 10em);
}

.home > h1 {
    position: absolute;
    font-size: 10em;
    top: 300px;
    text-transform: uppercase;
    margin: 0;
    z-index: 1;
    left: 15%;
    font-family: montserrat;
}

.home > p {
    position: absolute;
    font-size: 1em;
    width: 40%;
    z-index: 1;
    top: 470px;
    right: 30px;
    font-family: montserrat;
}

.box1 {
    position: absolute;
    top: 25%;
    left: 20%;
    z-index: 0;
    width: 100px;
    height: 100px;
    border: 30px solid #20A2C3;
    overflow: hidden;
    transform: rotateZ(65deg)
}

.box2 {
    position: absolute;
    top: 30%;
    left: 10%;
    z-index: 0;
    width: 200px;
    height: 200px;
    border: 30px solid rgba(255,255,255,.5);
    overflow: hidden;
}






section.competion {
    background-image: linear-gradient(var(--blue),var(--white));
}
section.header{
    background: var(--blue);
    height:calc(100% - 50rem);

}

.box3 {
    position: absolute;
    top: 450px;
    left: 40%;
    z-index: 0;
    width: 200px;
    height: 200px;
    border-radius: 35%;
    border: 30px solid var(--blue);
  
    overflow: hidden;
    transform: rotateZ(65deg)
}

.box4 {
    position: absolute;
    top: 350px;
    left: 50%;
    z-index: 0;
    
    width: 200px;
    height: 200px;
    border: 30px solid rgba(255,255,255,.5);
    overflow: hidden;
}

section.about{
   
    background-image: linear-gradient(var(--white),var(--blue));
}

/* Divine'css */

.contact-section{
    background-image: linear-gradient(var(--blue),var(--white));

    
    background-size: cover;
    padding: 40px 0;
    width: 100%;
    height: 700px;
}
.contact-section h1{
    text-align: center;
    color: #ffff;
}
.border{
    width: 100px;
    height: 10px;
    background: linear-gradient(135deg var(--blue),var(--white));
    margin: 40px auto;
}
.contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}  
.contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #fff;
    padding: 20px 40px;
    outline: none;
    color: black;
    transition: 0.5s;
}
.contact-form-text:focus{
    box-shadow: 0 0 10px 4px #002366;
}

textarea.contact-form-text{
    resize: none;
    height: 120px;
}

.contact-form-btn{
    float: right;
    border: 0;
    background: #002366;
    color: #ffff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.contact-form-btn:hover{
    background: linear-gradient(135deg, #002366, #ffff) ;
}





    



/* daniel's css */

#about{
    background-image: linear-gradient(var(--white),var(--blue));
}

.about-1{
    /* margin: 30px; */
   
    
    padding: 30px;
}
.about-1 h1{
    text-align: center;
    margin: 20px;
     color: rgb(56, 51, 51); 
    font-weight: bold;
    font-family: montserrat;
   
    font-size: 5em;
   
    text-transform: uppercase;
   
   
    left: 15%;
}
.about-1 p{
    text-align: center;
font-family: montserrat;
font-weight: bold;
    padding: 3px;
    color: var(--black);
}
.about-item{
    margin-bottom: 20px;
    margin-top: 20px;
    /* background-color: var(--blue); */
    color: #fff;
    padding: 80px, 30px;
    /* box-shadow: 0 0 9px rgba(0,0,0,0.6); */
}
.about-item i{
    font-size: 43px;
    margin: 0;
}
.about-item h3{
    font-size: 25px;
    margin-bottom: 10px;
}


.about-item:hover{
    background-color: var(--blue);
}
.about-item:hover i,
.about-item:hover h3,
.about-item:hover p{
    color: #fff;
}
.about-item:hover hr{
    background-color: #fff
}
.about-item:hover i{
    transform: translateY(-20px);
}
.about-item:hover i,
.about-item:hover h3,
.about-item:hover hr{
    transition: all 400ms ease-in-out;
}

/* daniel's code stopped here */










section.contact{
    background-image: linear-gradient(var(--blue),var(--white));
}

.form-message{
   
    width:250px;
    height:50px;
    display:flex;
    justify-content:center;
    align-items:center;
    position:absolute;
    top:55%;
    right:5%;
    font-size:2rem;
}








footer{
    background-color: var(--white);
    padding: 5px;
    width: 100%;
    height: 20px;
}



  







