*{box-sizing: border-box;} 

body {
    background-color: #ffffff;
    background-image: -webkit-linear-gradient(35deg, #002366 50%, #ffffff 50%);
    font-family: 'Montserrat';
    min-height: 1000px;
} 

.container-flex{
    display: flex;
    
}

ul a{
    list-style: none;
    color: #002366;
}

a{
    color: #002366;
    padding: 1rem;
}
.nav-link{
    padding: 2rem 0.5rem;
    color: #fff;
}